#selected-participant-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#selected-participant-video {
    display: block;
    height: 240px;
    max-width: 100%;
    max-height: 100%;
}

#exit-from-conference {
    position: absolute;
    bottom: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#participant-miniatures-panel {
    display: flex;
    overflow-x: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.participant-miniature {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    cursor: pointer;
}

.selected-participant {
    background-color: #777;
}

.participant-miniature-video {
    width: 160px;
    height: 120px;
    background-color: black;
}

.participant-miniature-name {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

#conference-panel-message {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}